h1{
    color: black;
}

body{
    background-color: #e6deff;
    font-family: "Times New Roman";
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 80px;
    text-align: left;
}
input{
    display: inline-block;
    border: groove darkblue 1.5px;
}

#matricula2{
    background-color: darkgray;
}


 #insertar{
     display: inline-block;
     float: left;
     width: 250px;
 }
#borrar{
    display: inline-block;
    float: left;
    width: 250px;
}
#actualizar{
    display: inline-block;
    float: left;
    width: 250px;
}
